@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
}

[v-cloak] {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .links {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

.navbar .links li {
    padding-left: 1.2em;
    letter-spacing: 0.1em;
    font-size: 14px;
    font-weight: bold;
}
